/* !! In dieser CSS befinden sich alle relevanten Stile für die Detail-Ansicht */

/* Stil für den Post-Detail-Bereich */
.post-detail {
    background-color: var(--color-secondary);;
    padding: 1em;
    padding-bottom: 0;
    margin: 1em;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 20px;
}

/* Stil für den Abschnitt mit Kommentaren */
.section-comments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Stil für den Kommentarbereich */
.comment-box {
    background-color: var(--color-secondary);;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 20px;
    gap: 0.5em;
}

/* Stil für den Benutzernamen im Kommentarbereich */
.comment-username {
    font-weight: bold;
    cursor: pointer;
}

/* Stil für Hashtags */
#hashtags {
    font-style: italic;
    color: var(--color-primary);
}

/* Stil für den Kommentartext */
.comment-body {
    margin-bottom: 0;
}

/* Stile für den Alert, falls keine Kommentare vorhanden */
.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.alert-img {
    width: 2em;
    height: 2em;
    background: url('https://fonts.gstatic.com/s/i/materialicons/error/v12/24px.svg') no-repeat;
    background-size: contain;
}
.alert p {
    margin: 0;
}

/* Media Query für Bildschirmbreiten über 50em */
@media (min-width: 50em) {
    /* Stil für den Detailbereich in großen Bildschirmen */
    #page-detail {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    /* Stil für den Post-Detail-Bereich in großen Bildschirmen */
    #post-detail {
        width: 50%;
    }
    /* Stil für den Post-Detail-Container in großen Bildschirmen */
    .post-detail {
        height: 98%
    }
    /* Stil für den Kommentarbereich in großen Bildschirmen */
    .section-comments {
        width: 50%;
        margin-top: 1em;
    }
}
