/* ALLGEMEINES */

/* Stil für den gesamten Body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

/* Allgemeine Body-Stile */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: #5d5d5d;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    --color-primary: #40E0D0;
    --color-secondary: #FAFAFA;
    --color-tertiary: #dddddd;
}

/* Hauptbereichsstil */
main {
    flex: 1 0 auto;
}

/* Stil für Header und Footer */
header, footer {
    padding: 1rem;
    box-sizing: border-box;
}

/* Standardstil für Textabsätze */
p {
    text-align: justify;
}

/* Überschriftenstil */
h1, h2, h3 {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#page-coming-soon {
    margin-top: 2em;
}

/*-------------*/
/* MAIN */

/* Stil für den Abschnitt Eye Catcher */
.section-eyecatcher {
    background-image: url(img/banner.jpg);
    background-size: cover;
    min-height: 18em;
    background-position: 0 80%;
}

/* Stil für die Post-Überschriften */
.post-headline {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
}

/* Stil für die Liste der Posts */
#post-list,
#userpost-list,
#search-results {
    list-style-type: none;
    padding: 1em;
}

#post-list {
    margin-bottom: 0em;
}

/* Stil für Post-Listenpunkte */
#post-list ul,
#userpost-list ul,
#search-results ul {
    font-size: 110%;
    display: flex;
}

/* Stil für einzelne Post-Elemente */
#post-list li,
#userpost-list li,
#search-results li {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* Stil für Post-Titel */
.post-title {
    font-size: 120%;
    font-weight: bold;
}

/* Stil für Benutzerlinks in Post-Elementen */
#userlink1,
#userlink2 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* Stil für Benutzerbilder */
.profile-picture {
    width: 36px;
    height: 36px;
    background: url('https://fonts.gstatic.com/s/i/materialicons/account_circle/v12/24px.svg') no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

/* Stil für Benutzernamen in Post-Elementen */
.profile-username {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}

/* Stil für Interaktionsbereiche */
.interactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Stil für die Like- und Kommentarbereiche */
#likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
#comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

/* Stil für den Like-Button */
.like-button {
    width: 2em;
    height: 2em;
    background: url('https://fonts.gstatic.com/s/i/materialicons/favorite_border/v12/24px.svg') no-repeat;
    background-size: contain;
    cursor: pointer;
}
/* Stil für den bereits gelikten Button */
.like-button.liked {
    background-image: url('https://fonts.gstatic.com/s/i/materialicons/favorite/v12/24px.svg');
}
/* Stil für die Anzeige der Anzahl von Likes und Kommentaren */
.like-number,
.comments-number {
    font-size: 20px;
    margin-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Stil für den Kommentar-Button */
.comment-button {
    width: 2em;
    height: 2em;
    background: url('https://fonts.gstatic.com/s/i/materialicons/insert_comment/v12/24px.svg') no-repeat;
    background-size: contain;
    cursor: pointer;
}
/* Stil für "Mehr lesen" -Link */
.read-more {
    color: var(--color-primary);
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 0em;
}
.read-more:hover {
    text-decoration: underline;
}

/* Media Query für Bildschirmbreiten über 50em */
@media (min-width: 50em) {
    /* Anpassungen für die Post-Liste bei größeren Bildschirmen */
    #post-list,
    #userpost-list,
    #search-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* Anpassungen für einzelne Post-Elemente bei größeren Bildschirmen */
    #post-list li,
    #userpost-list li,
    #search-results li {
        width: 49%;
    }
}

/* Media Query für Bildschirmbreiten über 75em */
@media (min-width: 75em) {
    /* Anpassungen für die Post-Liste bei noch größeren Bildschirmen */
    #post-list,
    #userpost-list,
    #search-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* Weitere Anpassungen für einzelne Post-Elemente bei noch größeren Bildschirmen */
    #post-list li,
    #userpost-list li,
    #search-results li {
        width: 32%;
    }
}